<app-header />

<main>
  <ul id="users">
    <!-- New conditional rendering syntax starting from Angular 17 -->
    @for(user of users; track user.id) {
      <li>
        <app-user [user]="user" [selected]="user.id === selectedUserId" (currentUserSelected)="onUserSelected($event)"/>
      </li>
    }
  </ul>
  @if(selectedUserName) {
    <app-tasks [userId]="selectedUserId || ''" [userName]="selectedUserName || ''"></app-tasks>
  } @else {
    <p id="fallback">Please select a user to see their tasks.</p>
  }


</main>

<!-- Old conditional rendering syntax
  <ul id="users">
    <li *ngFor="let user of users;">
      <app-user [user]="user" (currentUserSelected)="onUserSelected($event)"/>
    </li>
  </ul>
    <app-tasks *ngIf="selectedUserName; else fallback" [name]="selectedUserName || ''"></app-tasks>
  <ng-template #fallback>
    <p id="fallback">Please select a user to see their tasks.</p>
  </ng-template>
-->